<div class="jumbotron text-justify-center">
    <h1 class="display-4 text-sm-center">Interessant!</h1>
    <div class="container">
      <div class="card-group">
        <div class="card">
          
        </div>
        <div class="card align-content-center">
          <div class="card-body">
            <h3 class="card-title text-justify-center">Autres Livres</h3>
              <ul>
                <li>Mathematique</li>
                <li>Malagasy</li>
                <li>Psychologie</li>
                <li>Socialiste</li>
              </ul>
          </div>
        </div>
        <div class="card ">
          <div class="card-body">
            <h3 class="card-title ">Soutient</h3>
            <ul>
              <li><i class="fa fa-desktop mr-2"></i>Developper IsCamen</li>
              <li><i class="fa fa-github-square mr-2"></i>Amis de Github</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <hr class="my-4">
    <h2 class="text-center">A propos</h2>
        <div class="card-body text-lg-center">
          <p class="text-white m-0">
            Copyright &copy; RANDRIANIMANANA Jonasy Lutheran
          <br><br> Etudiant  en informatique  à l'ISCaMen<br>
          <i class="fa fa-envelope-square"></i>
          Mail: <strong>randrianijonasylutheran@gmail.com</strong><br><br>
          <i class="fa fa-facebook-square"></i>
          Facebook: Rajonas Luther<br><br>
          <i class="fa fa-phone-square"></i>
          Contact: 034 14 760 58  </p>
        </div>
        
    </div>
 