<!-- <img id="meteo" style="width:20px; height:20px; margin: 10px" [src]="meteo"> -->
<form>  
    <h2 class="text-center">Les Images</h2>     
    <table class="table table-dark mt-4 top-5"> 
        <thead>
            <tr>
                <th>Environnement</th>
                <th>Education</th>
                <th>Tradition et culturel</th>
                <th>Historique et Romantique</th>
                <th>Technologique et Informatique</th>
                <th>Sportive</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <img src="" width="40px" alt="">
                </td>
                <td>
                    <img src="" width="40px" alt="">
                </td>
                <td>
                    <img src="" width="40px" alt="">
                </td>
                <td>
                    <img src="" width="40px" alt="">
                </td>
                <td>
                    <img src="" width="40px" alt="">
                </td>
                <td>
                    <img src="" width="40px" alt="">
                </td>
            </tr>
        </tbody>
    </table>
       
</form>