<div class="container top-5">
  <div class="jumbontron top-8">
    <br>
    <div class="card-deck">
    <div class="card">
      <div class="card-body text-center">
        <div class="card" style="width:200px">
          <img src="assets/baob.jpg" style="width: 100%; height:auto; border-radius: 100%;" alt=""><br>
          <div class="card-body">
            <h4 class="card-title">John Doe</h4>
            <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
            <a href="#" class="btn btn-primary stretched-link">See Profile</a>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body text-center">
        <div class="card" style="width:200px">
          <img src="assets/baob.jpg" style="width: 100%; height:auto; border-radius: 100%;" alt=""><br>
          <div class="card-body">
            <h4 class="card-title">John Doe</h4>
            <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
            <a href="#" class="btn btn-primary stretched-link">See Profile</a>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body text-center">
        <div class="card" style="width:200px">
          <img src="assets/baob.jpg" style="width: 100%; height:auto; border-radius: 100%;" alt=""><br>
          <div class="card-body">
            <h4 class="card-title">John Doe</h4>
            <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
            <a href="#" class="btn btn-primary stretched-link">See Profile</a>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body text-center">
        <div class="card" style="width:200px">
          <img src="assets/baob.jpg" style="width: 100%; height:auto; border-radius: 100%;" alt=""><br>
          <div class="card-body">
            <h4 class="card-title">John Doe</h4>
            <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
            <a href="#" class="btn btn-primary stretched-link">See Profile</a>
          </div>
        </div>
      </div>
    </div>  
  </div>
  </div>
</div>