<div class="x">

    <nav class="navbar navbar-expand-lg  pt-5 mt-md-n5">
      <!-- <div class="image-circle-rounded"><img src="src/assets/bb.jpg" alt=""></div> -->
      <a href="#">Autres</a>
          <ul class="nav justify-content-center pt-5">
            <li class="nav-item">
              <a class="nav-link" routerLink="/pdf"><i class="fa fa-file-pdf-o"></i>PDF numerique</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/image"><i class="fa fa-file-image-o"></i>Image</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/video"><i class="fa fa-video-camera"></i>Video</a>
            </li>
          </ul>
            <ul id="a" class=" nav justify-content-end fill-light">
              <li class="nav-item">
                <a class="nav-link" routerLink="/agent"><i class="fa fa-upload mr-3"></i></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/agent"><i class="fa fa-download mr-3"></i></a>
              </li>
          </ul> 
    </nav>
  
    <br>
  
    <div class="jumbotron mt-4">
      <section class="m-2">
        <h1>Livres Pour l'Education</h1>
      <div class="card-group pt-sm-2">
        <div class="card">
          <img src="assets/educ1.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Pédagogiquement</h5>
            <p class="card-text">Important pour les Profs et Les étudiants</p>
            
          </div>
          
        </div>
        <div class="card">
          <img src="assets/educ2.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Techniquement</h5>
            <p class="card-text">Tous le monde peut consulter</p>
            
          </div>
         
        </div>
        <div class="card">
          <img src="assets/educ3.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Technologique</h5>
            <p class="card-text">Pour developper la connaissance</p>
            
          </div>
        </div><br>
        
      </div>
      <div class="jumbotron" style="text-align: center;">
        <button class="btn btn-outline-primary w-25 h-25 mt-mb-4">Voir détail</button>
    </div>
    </section>
    <section class="m-2">
      <h1>Livres Pour l'Environnement</h1>
    <div class="card-group pt-sm-2">
      <div class="card">
        <img src="assets/boky3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Environnement Actuelle</h5>
          
        </div>
        
      </div>
      <div class="card">
        <img src="assets/bao.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        </div>
        
      </div>
      <div class="card">
        <img src="assets/boky9.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        </div>
        
      </div>
    </div>
  
  <div class="jumbotron" style="text-align: center;">
    <button class="btn btn-outline-primary w-25 h-25 mt-mb-4">Voir détail</button>
</div>
  </section>
  <section>
    <h1>Livres Pour le Culturel</h1>
  <div class="card-group">
    <div class="card">
      <img src="assets/educ1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
      
    </div>
    <div class="card">
      <img src="assets/educ2.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      </div>
      
    </div>
    <div class="card">
      <img src="assets/educ3.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      </div>
      
    </div>
  </div>

<div class="jumbotron" style="text-align: center;">
  <button class="btn btn-outline-primary w-25 h-50 mt-mb-4">Voir détail</button>
</div>
  </section>
  <section class="m-2">
    <h1>Livres Pour la Nature</h1>
  <div class="card-group pt-sm-2">
    <div class="card">
      <img src="assets/educ1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
      
    </div>
    <div class="card">
      <img src="assets/educ2.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      </div>
      
    </div>
    <div class="card">
      <img src="assets/educ3.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      </div>
    </div>
  </div>
    <div class="jumbotron" style="text-align: center;">
      <button class="btn btn-outline-primary w-25 h-50 mt-mb-4">Voir détail</button>
    </div>
  </section>
    </div>
  
    <form action="">
      <div class="form-group">
          <label  class="col-form-label">Id</label>
          <input name="idLivres" type="number" class="form-control">
          <!-- <small *ngIf="exform.get('nom').invalid && exform.get('nom').touched" class="text-danger">remplisser le nom</small> -->
      </div>
      <div class="form-group">
          <label  class="col-form-label">Titres/label>
          <input   type="text" class="form-control" name="titreLivres">
          <!-- <small *ngIf="exform.get('mail').invalid && exform.get('mail').touched" class="text-danger">remplisser l'adresse mail</small> -->
      <!-- </div> -->
      <div class="form-group">
          <label  class="col-form-label"></label>
          <input formControlName="contact" type="number" class="form-control">
          <!-- <small *ngIf="exform.get('contact').invalid && exform.get('contact').touched" class="text-danger">remplisser le contact</small> -->
      </div>
      <div class="form-group">
          <label  class="col-form-label">N° Compte Bancaire</label>
          <input formControlName="compte" type="text" class="form-control">
          <!-- <small *ngIf="exform.get('compte').invalid && exform.get('compte').touched" class="text-danger">Ecrire votre compte</small> -->
      </div>
      <div class="form-group">
          <label  class="col-form-label">Type de fichier</label>
          <select formControlName="typ_fic" class="form-control bg-input-danger d-block w-100" name="typ_fic">
              <option value="livre">Livre</option>
              <option value="video">Video</option>
              <option value="pdf">Pdf</option>
              <option value="image">Image</option>
              <option value="autre">Autres Fichier</option>

            </select>
      </div>
    