<div class="conteneur mt-md-5">
    <div class="navbar">
        <div class="meu">
            <h3 class="logo">Les<span>Livres</span></h3>
            <div class="humberger menu">
                <div class="bar">

                </div>
            </div>
        </div>
    </div>
    <div class="main-conteneur">
        <div class="main">
            <header>
                <div class="overlay">
                    <div class="inner">
                        <h2 class="title">Livres</h2>
                        <p>Choisissez les livres interessés</p>
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        
                        <a class="btn nav-link" routerLink="/livres">Entrer</a>
                    </div>
                </div>
            </header>
        </div>
        <div class="shadow one"></div>
        <div class="shadow two"></div>
    </div>
    <div class="links">
        <ul>
            <li>
                <a href="#" style="--i: 0.05s">Home</a>
            </li>
            <li>
                <a href="#" style="--i: 0.1s">Lecture</a>
            </li>
            <li>
                <a href="#" style="--i: 0.15s">Commande</a>
            </li>
            <li>
                <a href="#" style="--i: 0.2s">Heberger</a>
            </li>
            <li>
                <a href="#" style="--i: 0.25s">Information</a>
            </li>
            <li>
                <a href="#" style="--i: 0.3s">Autres</a>
            </li>
        </ul>
    </div>
</div>
<br>
<div class="container">
    <div class="jumbotron">
        <div id="demo" class="carousel slide" data-ride="carousel">
            <ul class="carousel-indicators">
              <li data-target="#demo" data-slide-to="0" class="active"></li>
              <li data-target="#demo" data-slide-to="1"></li>
              <li data-target="#demo" data-slide-to="2"></li>
            </ul>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="assets/liv_edu2.jpg" alt="Los Angeles" width="1100" height="500">
                <div class="carousel-caption">
                  <h3>Education</h3>
                  <p>Vous pouvez tous concerne au éducation</p>
                </div>   
              </div>
              <div class="carousel-item">
                <img src="assets/nat.jpg" alt="Chicago" width="1100" height="500">
                <div class="carousel-caption">
                  <h3>Environnement</h3>
                  <p>C'est ideal pour nous à c!</p>
                </div>   
              </div>
              <div class="carousel-item">
                <img src="assets/th.jpg" alt="New York" width="1100" height="500">
                <div class="carousel-caption">
                  <h3>New York</h3>
                  <p>We love the Big Apple!</p>
                </div>   
              </div>
            </div>
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
              <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
              <span class="carousel-control-next-icon"></span>
            </a>
          </div>
          
    </div>
</div>
